#[cpu]
#name = "Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz"
#curve = [171.2,0.0354,36.89,-10.13]
[cpu]
name = "Apple M4 Pro"
curve = [30.508760345993128,0.0730308567638932,20.451103066868207,-5.08379885619235]


[[process]]
name = "fights-native"
up = "docker compose -f deploy/docker-compose/native.yml up --force-recreate -d"
down = "docker compose -f deploy/docker-compose/native.yml down"
redirect.to = "file"
process.type = "docker"
process.containers = ["fights-db", "heroes-db", "villains-db", "locations-db","rest-fights-java21", "rest-heroes", "rest-villains", "grpc-locations-java21"]
startup_grace = "20s"

[[process]]
name = "fights-java"
up = "docker compose -f deploy/docker-compose/java21.yml up --force-recreate -d"
down = "docker compose -f deploy/docker-compose/java21.yml down"
redirect.to = "file"
process.type = "docker"
process.containers = ["fights-db", "heroes-db", "villains-db", "locations-db","rest-fights-java21", "rest-heroes", "rest-villains", "grpc-locations-java21"]
startup_grace = "20s"

[[scenario]]
name = "k6-native-low"
desc = "Load test for 60s"
command = "k6 run low.js"
iterations = 3
processes = ["fights-native"]

[[scenario]]
name = "k6-native-high"
desc = "Load test for 60s"
command = "k6 run high.js"
iterations = 3
processes = ["fights-native"]

[[scenario]]
name = "k6-native-none"
desc = "Load test for 60s"
command = "k6 run none.js"
iterations = 3
processes = ["fights-native"]

[[scenario]]
name = "k6-native-max"
desc = "No load test."
command = "k6 run k6.js"
iterations = 3
processes = ["fights-native"]

[[scenario]]
name = "k6-java-low"
desc = "Load test for 60s"
command = "k6 run low.js"
iterations = 3
processes = ["fights-java"]

[[scenario]]
name = "k6-java-high"
desc = "Load test for 60s"
command = "k6 run high.js"
iterations = 3
processes = ["fights-java"]

[[scenario]]
name = "k6-java-none"
desc = "Load test for 60s"
command = "k6 run none.js"
iterations = 3
processes = ["fights-java"]

[[scenario]]
name = "k6-java-max"
desc = "No load test."
command = "k6 run k6.js"
iterations = 3
processes = ["fights-java"]

[[observation]]
name = "native"
scenarios = ["k6-native-low","k6-native-high","k6-native-none"]


[[observation]]
name = "java"
scenarios = ["k6-java-low", "k6-java-high", "k6-java-none"]


[[observation]]
name = "java-max"
scenarios = ["k6-java-max"]


[[observation]]
name = "native-max"
scenarios = ["k6-native-max"]

